{
  "env": {
    "testing": {
      "presets": [ "es2015", "stage-1" , { "modules": false } ] // testing with inject loader
    },
    "production": {
      "presets": ["es2015", "stage-1"],
      "plugins": []

    }
  }
}